body {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Prata', serif; */
    font-size: 17px !important;
    color: #000;
}

a {
    text-decoration: none !important;
    transition: all .3s;
}

img {
    max-width: 100%;
    object-fit: cover;
}

ul {
    padding: 0;
}

::selection {
    background: #ea2340;
    color: #fff;
}


/* Header Menu */

.ui-menu {
    float: right;
    cursor: pointer;
}

.ui-menu img {
    width: 20px;
}

.normal-menu {
    padding-top: 20px;
    float: right;
}

.normal-menu li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.normal-menu li a {
    color: #1c1d24;
    font-weight: 300;
}

.normal-menu li a:hover {
    color: #ea2340;
}


/* The side navigation menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1c1d24;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* Logo */

.logo a {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.logo a:hover {
    color: #fff;
}


/* Head Section */

.tophead {
    background: linear-gradient(to left, #fff 70%, #1c1d24 30%);
    ;
    height: 100vh;
}

#design {
    position: relative;
    max-width: 100%;
    width: 430px;
    height: 430px;
    margin: auto;
}

#design>*,
#blend>* {
    position: absolute;
    height: 100%;
    width: 100%;
}

#rotatedBorder {
    box-sizing: border-box;
    border: 15px #ea2340 solid;
    transform: rotate(45deg);
    box-shadow: 0 0 10px #ea2340, inset 0 0 20px #eb311f;
}

.grid {
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
}

[data-white] {
    background-color: white;
}

#blend {
    mix-blend-mode: multiply;
}

#design>img {
    box-shadow: 0 0 20px #bac3c3;
}


/* Right dirction */

.textHead {
    margin-top: 130px;
}

.textHead h1 {
    font-family: 'Prata', serif;
    font-size: 35px;
    line-height: 50px;
}

.textHead button {
    border: 2px solid #000;
    background: #fff;
    padding: 5px 20px;
    font-size: 18px;
}

.textHead button img {
    padding-left: .5rem;
    transition: ease-in .2s;
}

.textHead button:hover img {
    padding-left: 20px;
}

.textHead a {
    font-size: 18px;
    color: #1c1d24;
}

.textHead a:hover {
    color: #ea2340;
}


/* About Section */

#about {
    background: #ea2340;
    color: #fefefe;
    width: 100%;
}